In [4]:
import numpy as np
import pandas as pd

In [32]:
p = pd.DataFrame(np.array([[1,2,3],[4,5,6]]), index=["a", "b"], columns=[1,2,3])

In [49]:
p.loc[:, "2":] # 2 means label not integer
p.loc[:, 2:] # same with above

   2  3
a  2  3
b  5  6

In [53]:
p.iloc[:,1:]

   2  3
a  2  3
b  5  6

In [55]:
p[2]

a    2
b    5
Name: 2, dtype: int64

In [51]:
pp = pd.DataFrame(np.array([[2,4,7], [1,5,8]]), index=["a", "b"], columns=["A","B","C"])

In [52]:
pp.A

a    2
b    1
Name: A, dtype: int64

In [56]:
pp["A"]

a    2
b    1
Name: A, dtype: int64

# SVM Loss #
L_i = sum of max(0, s_j - s_yi +1)
when s is f(x_i, W)

In [58]:
def SVMLoss_i(x, y, W):
    scores = W.dot(x)
    margins = np.maximum(0, scores-scores[y]+1)
    margins[y] = 0
    return np.sum(margins)

In [60]:
def SVMLosdd(X, Y, W):
    loss = 0
    for ind, column in enumerate(X.columns):
        loss += SVMLoss_i(X[column], Y[column], W)
    return loss / len(X.columns)

In [64]:
X = pd.DataFrame(np.array([[3.2, 1.3, 2.2], [5.1, 4.9, 2.5], [-1.7, 2.0, -3.1]]), columns=["cat", "car", "frog"])
Y = pd.DataFrame(np.array([[0, 1, 2]]), columns=["cat", "car", "frog"])
for ind, column in enumerate(X.columns):
    print(X[column])

0    3.2
1    5.1
2   -1.7
Name: cat, dtype: float64
0    1.3
1    4.9
2    2.0
Name: car, dtype: float64
0    2.2
1    2.5
2   -3.1
Name: frog, dtype: float64

> L2 정규화: 동일한 스코어를 만들어낼 수 있는 W 중에서는 최대한 고루 분포한 W를 선호하도록 정규화

In [65]:
def softmax_i(x, y, W):
    scores = W.dot(x)
    unnormalized = np.exp(scores)
    normalized = unnormalized/np.sum(unnormalized)
    return -log(normalized[y])

In [66]:
# numeric gradient

In [67]:
# analytic gradient